modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 25594
externalPort = 3000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BEZ5abmk-kSa6XzHkip3yYi1ub8mbiWxcNwEiB-DGsUlXmvZK6Ay86MLQxiDsshRxrtjDQIicLYATFKnej1r5ik"
VAPID_EMAIL = "mailto:info@britannia-visas.co.uk"
VAPID_PRIVATE_KEY = "EAEYgf-XgHF9oCZvV3BD9xnpHg9iMWc2ybHvHO05lNw"
